@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Rubik:wght@300&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  margin: 0;
  background: rgb(240, 240, 240);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Gwendolyn", cursive;
  font-size: 90px;
}
.section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  background: rgb(254, 254, 255);
}

.box {
  border: 1px solid rgba(41, 41, 41, 0.06);
  box-sizing: border-box;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-picker {
}
