* {
  box-sizing: border-box;
  background-color: beige;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 816px;
  border: 2px solid black;
}

.box {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.hovered {
  background: red;
}
